name: Deploy to DEV
on:
  push:
    tags:
      - 'dev-*'
jobs:
  build:
    runs-on: ubuntu-latest
    environment: dev
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
 
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
 
      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
 
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.USR_TOKEN  }}
 
      - name: Set Image Tag
        run: |
          IMAGE_TAG=${GITHUB_REF_NAME,,}  # Lowercase branch name
          IMAGE_TAG=${IMAGE_TAG//[^a-z0-9._-]/-}  # Replace invalid characters
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV
 
      - name: Build Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          build-args: |
            GITHUB_TOKEN=${{ secrets.USR_TOKEN }}
          push: true
          tags: ghcr.io/optimumpartners/olive-attendance/attendance:dev
 
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
 
      - name: Deploy to DEV environment
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SSH_SERVER }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
 
            docker container prune -a -f
            docker image prune -a -f
            docker system prune -a -f
 
            docker stop oliveattendance-dev || true
            docker rm oliveattendance-dev || true
 
            echo "Deploying to DEV environment ..."
            docker login ghcr.io -u ${{ github.actor }} --password "${{ secrets.USR_TOKEN }}"     
 
            # Pull the latest Docker image
            docker pull ghcr.io/optimumpartners/olive-attendance/attendance:dev
            
            #calling the script for secrets and running the docker image
            /root/oliveattendance/olive-attendance.sh
