name: Deploy to DEV
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    environment: dev
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
 
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
 
      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
 
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.USR_TOKEN  }}
 
      - name: Set Image Tag
        run: |
          IMAGE_TAG=${GITHUB_REF_NAME,,}  # Lowercase branch name
          IMAGE_TAG=${IMAGE_TAG//[^a-z0-9._-]/-}  # Replace invalid characters
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV
 
      - name: Build Backend
        uses: docker/build-push-action@v3
        with:
          context: ./backend  # Points to the backend folder
          file: ./backend/Dockerfile
          push: true
          tags: ghcr.io/mike-taslakjian-techx/apptrain-backend:dev

      - name: Build Frontend
        uses: docker/build-push-action@v3
        with:
          context: ./frontend # Points to the frontend folder
          file: ./frontend/Dockerfile
          push: true
          tags: ghcr.io/mike-taslakjian-techx/apptrain-frontend:dev
 
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
 
      - name: Deploy to DEV environment
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SSH_SERVER }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          passphrase: ${{ secrets.SSH_PASSPHRASE }}
          script: |

            cd /root/Mike
            
            # docker container prune -a -f
            # docker image prune -a -f
            # docker system prune -a -f
 
            docker stop apptrain-backend apptrain-frontend || true
            docker rm apptrain-backend apptrain-frontend || true
 
            echo "Deploying to DEV environment ..."
            docker login ghcr.io -u ${{ github.actor }} --password "${{ secrets.USR_TOKEN }}"     
 
            # Pull the latest Docker image
            docker pull ghcr.io/mike-taslakjian-techx/apptrain-backend:dev
            docker pull ghcr.io/mike-taslakjian-techx/apptrain-frontend:dev

            #calling the script for secrets and running the docker image
            docker compose up -d
   
            
