name: Deploy to DEV
on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to DEV environment via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SSH_SERVER }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          passphrase: ${{ secrets.SSH_PASSPHRASE }}
          script: |
            # 1. Navigate to your app folder
            cd /root/Mike/

            # 2. Clone the repo
            git clone git clone https://github.com/${{ github.repository }}.git .

            # 3. Get the latest code from GitHub
            git fetch --all
            git checkout ${{ github.ref_name }}
            git pull origin ${{ github.ref_name }}

            # 5. Start the app using the .env file from the vault folder
            docker compose --env-file /root/Mike/vault/.env up -d --build
            
